* {
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    justify-content: center;
    text-align: center;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

button {
    width: 150px;
    height: 75px;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
    border: none;
}

.minus {
    background-color: red;
    border-radius: 20px;
    margin-right: 50px;
}

.plus {
    background-color: green;
    border-radius: 20px;

}